{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>试卷</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'testmode/css/navCss.css' %}" type="text/css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- navbar-inverse 设置背景 
	navbar-fixed-top 设置头部固定在顶部,因此需要给body设置顶部padding,一般设置为padding-top:60px
	增加导航条的可访问性 role="navigation"-->
		<div class="user-logo">
			<img src="{% static 'testmode/images/girl.png' %}" class="img-circle img-position">
		</div>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="main.html" style="color:rgb(106, 158, 201)">虚拟宠物医院学习系统</a>
			</div>
			<ul class="nav nav-pills navbar-right" role="tablist" style="font-size:20px">
				<li>
					<a style="font-weight: bold" href="../guide">医院导览</a>
				</li>
				<li class="dropdown">
					<a style="font-weight: bold" class="dropdown-toggle" data-toggle="dropdown" href="#">
						职能学习
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li style="text-align: center">
							<a href="#">角色扮演</a>
						</li>
						<li role="separator" class="divider"></li>
						<li style="text-align: center">
							<a href="../case/choosecase">病例学习</a>
						</li>
					</ul>
				</li>
				<li class="dropdown active">
					<a style="font-weight: bold" class="dropdown-toggle" data-toggle="dropdown" href="#">
						测试
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li style="text-align: center">
							<a href="../test_type">进入测试</a>
						</li>
						<li role="separator" class="divider"></li>
						<li style="text-align: center">
							<a href="../test_manage">测试管理</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>


	<div class="shijuan">
			<form id="shijuanform" action="../paper_submit" method="post">
				<table class="paper-question-table">
					<!-- 第一题    -->
					{% for question in question_list %}
						<tr>
							<td>{{ question.name }}</td>
						</tr>
						<tr>
							<td>{{ question.content }}</td>
						</tr>
						<tr>
							<td>
								<input type="radio" value="A" name="{{question.id}}" />&nbsp;&nbsp;A：{{ question.answer_A }}
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" value="B" name="{{question.id}}" />&nbsp;&nbsp;B：{{ question.answer_B }}
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" value="C" name="{{question.id}}" />&nbsp;&nbsp;C：{{ question.answer_C }}
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" value="D" name="{{question.id}}" />&nbsp;&nbsp;D：{{ question.answer_D }}
							</td>
						</tr>
					{% empty %}
						<tr>
							<td>一张没有试题的试卷！ 请删除该试卷或者为其添加试题！</td>
						</tr>
					{% endfor %}

				</table>
			</form>
		</div>
		<div align="center" style="margin:2em">
			<button type="submit" form="shijuanform" class="btn btn-primary btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
		</div>
</body>
</html>