{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block main %}
	<div class="shijuan">
		<script>
			var UserEmail = GetCookie("useremail");
			document.write(UserEmail)</script>
		<form id="shijuanform" action="../paper_submit" method="post">
			<table class="paper-question-table">
				<!-- 第一题    -->
				{% for question in question_list %}
					<tr>
						<td>{{ question.name }}</td>
					</tr>
					<tr>
						<td>{{ question.content }}</td>
					</tr>
					<tr>
						<td>
							<input type="radio" value="A" name="{{question.id}}" />&nbsp;&nbsp;A：{{ question.answer_A }}
						</td>
					</tr>
					<tr>
						<td>
							<input type="radio" value="B" name="{{question.id}}" />&nbsp;&nbsp;B：{{ question.answer_B }}
						</td>
					</tr>
					<tr>
						<td>
							<input type="radio" value="C" name="{{question.id}}" />&nbsp;&nbsp;C：{{ question.answer_C }}
						</td>
					</tr>
					<tr>
						<td>
							<input type="radio" value="D" name="{{question.id}}" />&nbsp;&nbsp;D：{{ question.answer_D }}
						</td>
					</tr>
				{% empty %}
					<tr>
						<td>一张没有试题的试卷！ 请删除该试卷或者为其添加试题！</td>
					</tr>
				{% endfor %}

			</table>
		</form>
	</div>
	<div align="center" style="margin:2em">
		<button type="submit" form="shijuanform" class="btn btn-primary btn-lg">提&nbsp;&nbsp;&nbsp;交</button>
	</div>
{% endblock %}

{% block js %}

{% endblock %}
