{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'testmode/css/testType.css' %}" type="text/css">
	<style>
		* {
			margin: 0;
			padding: 0;
		}

		.BACK {
			width: 100%;
			height: 100%;
			background-position: center;
			position: absolute;
			background-color: rgb(235, 229, 229);
			background-size: cover;
		}
	</style>
{% endblock %}


{% block main %}
	<div class="specials">
		<h3>试卷类型</h3>
		<div class="special-top">
			<div class="col-md-3 special-in ">
				<a href="{%url 'test_choice' type_id=1 %}">
					<img src="{% static 'testmode/images/d1.jpg' %}" class="img-responsive zoom-img" alt="" />
				</a>
			</div>
			<div class="col-md-3 special-in">
				<a href="{%url 'test_choice' type_id=2 %}">
					<img src="{% static 'testmode/images/d2.jpg' %}" class="img-responsive zoom-img" alt="">
				</a>
			</div>
			<div class="col-md-3 special-in">
				<a href="{%url 'test_choice' type_id=3 %}">
					<img src="{% static 'testmode/images/d3.jpg' %}" class="img-responsive zoom-img" alt="">
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="special-top">
			<div class="col-md-3 special-in">
				<a href="{%url 'test_choice' type_id=4 %}">
					<img src="{% static 'testmode/images/d4.jpg' %}" class="img-responsive zoom-img" alt="">
				</a>
			</div>
			<div class="col-md-3 special-in">
				<a href="{%url 'test_choice' type_id=5 %}">
					<img src="{% static 'testmode/images/d5.jpg' %}" class="img-responsive zoom-img" alt="">
				</a>
			</div>
			<div class="col-md-3 special-in">
				<a href="{%url 'test_choice' type_id=6 %}">
					<img src="{% static 'testmode/images/d6.jpg' %}" class="img-responsive zoom-img" alt="">
				</a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
{% endblock %}

{% block js %}

{% endblock %}
