{% load staticfiles %}
* {
    margin: 0;
    padding: 0;
}
.BACK {
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    background-size: cover;
    text-align: center;
}
.caseimg {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    /*background: url({% static 'case/pic/choosecareer.jpg' %}) no-repeat fixed top;/*病例图片 */
    background-size: cover;
    text-align: center;
    top:0;
    bottom: 100%;
    left:20%;
}
.casetext {
    position: relative;
    text-align: center;
    top:0;
    bottom: 100%;
    left:0;
    right:20%;
    float:left;
    height:100%;
}
.caseinfo {
    position: relative;
    top: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}