{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>选择病例</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'case/css/navCss.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'case/css/choosecase.css' %}" type="text/css">
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- navbar-inverse 设置背景 
	navbar-fixed-top 设置头部固定在顶部,因此需要给body设置顶部padding,一般设置为padding-top:60px
	增加导航条的可访问性 role="navigation"-->
		<div class="user-logo">
			<img src="{% static 'case/pic/girl.png' %}" class="img-circle img-position">
		</div>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="" style="color:rgb(106, 158, 201)">虚拟宠物医院学习系统</a>
			</div>
			<ul class="nav nav-pills navbar-right" role="tablist" style="font-size:20px">
				<li>
					<a style="font-weight: bold" href="../guide">医院导览</a>
				</li>
				<li class="dropdown active">
					<a style="font-weight: bold" class="dropdown-toggle" data-toggle="dropdown" href="#">
						职能学习
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!--<li style="text-align: center">-->
							<!--<a href="#">角色扮演</a>-->
						<!--</li>-->
						<li role="separator" class="divider"></li>
						<li style="text-align: center">
							<a href="../case/choosecase">病例学习</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a style="font-weight: bold" class="dropdown-toggle" data-toggle="dropdown" href="#">
						测试
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li style="text-align: center">
							<a href="../test/test_type">进入测试</a>
						</li>
						<li role="separator" class="divider"></li>
						<li style="text-align: center">
							<a href="../test/test_manage">测试管理</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="menu">
            <nav class="navbar navbar-default" role="navigation">
	<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a class="sscroll" href="choosecase.html#chuanran">传染病</a></li>
				<li><a class="sscroll" href="choosecase.html#jisheng">寄生虫病</a></li>
				<li><a class="sscroll" href="choosecase.html#neike">内科</a></li>
				<li><a class="sscroll" href="choosecase.html#waichan">外产科疾病</a></li>
				<li><a class="sscroll" href="choosecase.html#changyong">常用手术</a></li>
				<li><a class="sscroll" href="choosecase.html#mianyi">免疫</a></li>
			</ul>
		</div>
	</nav>
</div>
		<div id="container">
				<section id="chuanran" class="chuanran">
					<h3 class="text-left">传染病</h3>
					{% for case1 in cases1 %}
					    <a href="{%url 'study_02' case1.name %}" class="btn btn-info">{{case1.name}}</a>
					{% endfor %}
				</section>
				<section id="jisheng" class="jisheng">
					<h3 class="text-left">寄生虫病</h3>
					{% for case2 in cases2 %}
					    <a href="{%url 'study_02' case2.name %}" class="btn btn-info">{{case2.name}}</a>
					{% endfor %}
				</section>
				<section id="neike" class="neike">
					<h3 class="text-left">内科</h3>
					{% for case3 in cases3 %}
					    <a href="{%url 'study_02' case3.name %}" class="btn btn-info">{{case3.name}}</a>
					{% endfor %}
				</section>
				<section id="waichan" class="waichan">
					<h3 class="text-left">外产科疾病</h3>
					{% for case4 in cases4 %}
					    <a href="{%url 'study_02' case4.name %}" class="btn btn-info">{{case4.name}}</a>
					{% endfor %}
				</section>
				<section id="changyong" class="changyong">
					<h3 class="text-left">常用手术</h3>
					{% for case5 in cases5 %}
					    <a href="{%url 'study_02' case5.name %}" class="btn btn-info">{{case5.name}}</a>
					{% endfor %}
				</section>
				<section id="mianyi" class="mianyi">
					<h3 class="text-left">免疫</h3>
					{% for case6 in cases6 %}
					    <a href="{%url 'study_02' case6.name %}" class="btn btn-info">{{case6.name}}</a>
					{% endfor %}
				</section>
			</div>

</body>
</html>