<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>虚拟医院学习系统</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="base-site">

    <!-- Container -->
    <div id="container">
    <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="#">虚拟医院学习系统</a></h1>
            </div>
        </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <!--<form action="/admin/login/?next=/admin/" method="post" id="login-form">-->
                <!--<input type="hidden" name="csrfmiddlewaretoken" value="G86dINhLAc0XQN0tbT0BCMNViwz2ds3tJrlcTC2VVukZe175Eblm7UDrBysbOnQv">-->
                <!--<div class="form-row">-->
                    <!--<label class="required" for="id_username">Username:</label>-->
                    <!--<input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">-->
                <!--</div>-->
                <!--<div class="form-row">-->
                    <!--<label class="required" for="id_password">Password:</label>-->
                    <!--<input type="password" name="password" required="" id="id_password">-->
                    <!--<input type="hidden" name="next" value="/admin/">-->
                <!--</div>-->
                <!--<div class="submit-row">-->
                    <!--<label>&nbsp;</label><input type="submit" value="Log in">-->
                <!--</div>-->
            <!--</form>-->
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>